/* default styles */

body {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0;
}

.btn-primary {
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: #F15B22;
    border-style: none;
    width: 160px;
    height: 64px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #d6521e;
    transition-duration: 0.4s;
}



/* BANNER */

.banner {
    background-image: url("../images/banner/banner1.png");
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.introduction {
    text-align: right;
    margin-left: 845px;
}

.introduction h1 {
    text-align: right;
    color: #151414;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.introduction p {
    text-align: right;
    color: #444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
}


/* FAILURE SECTION */


.failure-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 140px 322px;
}

.failure-text h1 {
    color: #151414;
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    width: 288px;
}

.failure-text p {
    color: #444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 416px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.failure-text li {
    list-style: none;
    margin-bottom: 8px;
}



/* PLAN SECTION */


.plans-title {
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 55.7px;
}


.plan-container {
    display: flex;
    justify-content: space-around;
    padding: 0px 230px;
}

.plan-box {
    text-align: center;
}

.plan-box img {
    width: 80px;
}

.plan-box h1 {
    color: #151414;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 18.3px;
    margin-bottom: 16px;
}

.plan-box p {
    color: #737272;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* SECOND BANNER */





/* FOOTER */


footer {
    background: #151414;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 130px 230px;
}

.text-container h1 {
    color: #F8F8F8;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-container p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 18px;
    margin-bottom: 24px;
    width: 485px;
}

.email {
    margin: 0px;

}

.phone {
    margin-top: 16px;
    margin-bottom: 22px;
}

.text-container img {
    margin-right: 14px;
}

.subscribe-container h1 {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 31px;
}

.subscribe-container input {
    color: #F3F3F3;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #151414;
    padding-top: 21px;
    padding-bottom: 22px;
    padding-left: 21px;
    border-radius: 8px;
    border: 1px solid #FFF;
    width: 325px;
}

.subscribe-container input::placeholder {
    color: #F3F3F3;
}

.btn-subscribe {
    padding: 20px 36px;
    border-radius: 8px;
    margin-top: 16px;
    background: #FFF;
    display: block;
    color: #F15B22;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-style: none;
}

.btn-subscribe:hover{
    color: #FFF;
    background: #F15B22;
    transition-duration: 0.4s;
}
